# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
DigiCertQuiz.code-workspace
DNS_quizzes/2026.03.11 Product Quiz - DNS, Part 3.docx
DNS_quizzes/2025.12.15 Product Quiz - DNS, Part 2.docx
DNS_quizzes/2025.11.17 Product Quiz - DNS, Part 1.docx
DNS_quizzes/2025.11.17 Product Quiz - DNS, Part 1.docx
DNS_quizzes/2025.12.15 Product Quiz - DNS, Part 2.docx
DNS_quizzes/2026.03.11 Product Quiz - DNS, Part 3.docx
/TLMWeek20
firebase-debug.log
firebase-debug.log
firebase-debug.log
/CCWeek21
